In [ ]:
a="hello"
b="b2b2b2"
c="3g3g"
d=a+" "+b+" "+c
print(d)

hello b2b2b2 3g3g

In [ ]:
print(len(d))
print(d[:-3])
print(d[::-3])

17
hello b2b2b2 3
g3b2oe

In [ ]:
print(d.upper())
print(d.lower())
print(d.title())
print(d.find("3g"))
print(d.strip())
print(d.isdigit())
print(d.capitalize())
print(d.isalnum())
print(d.split())
print(d.count("a2"))
print(d.replace("hello","python"))
print(d.swapcase())
for x in d:
  if("a2" in x):
   print("a2 find")

  else:
    print("not find")
    break;

HELLO B2B2B2 3G3G
hello b2b2b2 3g3g
Hello B2B2B2 3G3G
13
hello b2b2b2 3g3g
False
Hello b2b2b2 3g3g
False
['hello', 'b2b2b2', '3g3g']
0
python b2b2b2 3g3g
HELLO B2B2B2 3G3G
not find

In [ ]:
x=lambda a:a*a
print(x(8))

64

In [ ]:

numbers = [1, 3, 4]

cubes = list(map(lambda x: x ** 3, numbers))

print(cubes)

[1, 27, 64]

In [ ]:
numbers = [1, 3, 4]

cubes = list(map(lambda x: x ** 3, numbers))

print(cubes)

In [ ]:
fruits=["apple","banana","cherry"]
n=[]
for x in fruits:
  if "a" in x:
    n.append(x)
print(n)

['apple', 'banana']

In [ ]:
a=[1,2,3,4,5,6,7]
b=[]
for x in a:
  if x%2==0:
    b.append(x)
print(b)

[2, 4, 6]

In [ ]:
array_2d = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

for row in array_2d:
    for item in row:
        print(item, end=' ')
    print()

1 2 3
4 5 6
7 8 9