In [ ]:
print([x**2 for x in [1,2,3,4,5]])

[1, 4, 9, 16, 25]

a={1,3,5,8,3,7}
b={0,false,1,5}

In [ ]:
a={1,3,5,8,3,7}
b={0,False,1,5}
print(len(a))
print(type(a))
a.add(10)
print(a)
a.remove(8)
print(a)
u=a.union(b)
print(u)
i=a.intersection(b)
print(i)
print(a-b)

5
<class 'set'>
{1, 3, 5, 7, 8, 10}
{1, 3, 5, 7, 10}
{0, 1, 3, 5, 7, 10}
{1, 5}
{10, 3, 7}

In [ ]:
a={1,3,5,8,3,7}
for x in a:
  if(x==5):
    break;
  print(x )

1
3

In [ ]:
a={1,3,5,8,3,7}

b = [2,3,4]

a.update(b)

print(a)

{1, 2, 3, 4, 5, 7, 8}

In [ ]:
a={1,3,5,8,3,7}
for x in a:
  if(x==3):
     print("3 is present")

3 is present

In [ ]:
a={1,3,5,8,3,7}
b={0,False,1,5}

c=a.issuperset(b)

print(c)

d=a.issubset(b)
print(d)

d=b.issubset(a)
print(d)

False
False
False

In [ ]:
emp={"name":"a",  "age": "40",
  "type": {"developer":["ios","android"]},
  "parmanent": "true","salary":300.3,
     100:(1,2,3),4.5:{5,6,True,7,1},
     True:1}

print(type(emp))
print(len(emp))
print( emp["type"])
print( emp["type"]["developer"])
print( emp["type"]["developer"][1])
print(len(emp["type"]["developer"][1]))
print(emp[4.5])
print(emp["age"])
emp["parmanent"]=False
print(emp["parmanent"])
emp["gender"]="male"
print(emp)
emp.pop("age")
print(emp)


for x in emp.keys():
  print(x)

for x in emp.values():
  print(x)
for x,y in emp.items():
  print(x,y)

<class 'dict'>
8
{'developer': ['ios', 'android']}
['ios', 'android']
android
7
{True, 5, 6, 7}
40
False
{'name': 'a', 'age': '40', 'type': {'developer': ['ios', 'android']}, 'parmanent': False, 'salary': 300.3, 100: (1, 2, 3), 4.5: {True, 5, 6, 7}, True: 1, 'gender': 'male'}
{'name': 'a', 'type': {'developer': ['ios', 'android']}, 'parmanent': False, 'salary': 300.3, 100: (1, 2, 3), 4.5: {True, 5, 6, 7}, True: 1, 'gender': 'male'}
name
type
parmanent
salary
100
4.5
True
gender
a
{'developer': ['ios', 'android']}
False
300.3
(1, 2, 3)
{True, 5, 6, 7}
1
male
name a
type {'developer': ['ios', 'android']}
parmanent False
salary 300.3
100 (1, 2, 3)
4.5 {True, 5, 6, 7}
True 1
gender male

Nested dictionary

In [ ]:
myfamily = {
  "child1" : {
    "name" : "sohi",
    "year" : 2004
  },
  "child2" : {
    "name" : "achol",
    "year" : 2004
  },
  "child3" : {
    "name" : "shanta",
    "year" : 2004
  }
}
print(myfamily["child1"]["name"])

sohi