print

In [ ]:
print("hello")

In [ ]:
print("hi"+"hello")

hihello

In [ ]:
print(8+9)

17

In [ ]:
type(8)

int

In [ ]:
a=9
print(a)

9

In [ ]:
num1=int(input("enter a number " ))
num2=int3(input("enter a number " ))
sum=num1 +num2
print( sum)
print(num1+num2)

In [ ]:
#changing type
num=5
print(float(num))

In [ ]:
#complex number
s=1+5j
print(s)

(1+5j)

In [ ]:
#boolean
s=True
type(s)

bool

In [ ]:
print("hello"*7)

hellohellohellohellohellohellohello

In [ ]:
#slicing
s="sbby"
print(s[1:3])    #values from 1to 3-1

bb

In [ ]:
#slicing
s="programming"
print(s[0:10:2])

pormi

special data types in python
types of objects in python:
1.immutable
2.mutable

immutable objects: they are unchangeble

1.int
2.float
3.str
4.bool
5.tuple


mutable objects:
1.list
2.set
3.dictionary

In [ ]:
#list should be in square brackets
mylist=[1,2,3,4,5]
print(mylist)
type(mylist)

#list can have multi types
mylist=[1,2,3,4,5,"sb"]
print(mylist)


#adding something in a list
mylist=[1,2,3,4,5]
mylist.append(90)
print(mylist)

#print elements by index
mylist=[1,2,3,4,5]
print(mylist[0])


#dlting item from list
mylist=[1,2,3,4,5]
del mylist[1]
print(mylist)

#allow duplicate values
#joining two list
mylist=[1,2,3,4,5,5]
mylist2=[6,7,8,9,10]
m=mylist+mylist2
print(m)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 'sb']
[1, 2, 3, 4, 5, 90]
1
[1, 3, 4, 5]
[1, 2, 3, 4, 5, 5, 6, 7, 8, 9, 10]

In [ ]:
#tuple
#tuple in first bracket
#tuple allows multiple data types
#allow duplicate values
#append or dlt aren't applicable(can't change)

mylist=(1,2,3,4,5)
print(mylist)


#converting list to tuple
mylist=[1,2,3,4,5,5]
print(mylist)

tup=tuple(mylist)
print(tup)

(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5, 5]
(1, 2, 3, 4, 5, 5)

In [ ]:
#set
#set-----> curly bracket
#set don't support indexing
#don't allow duplicate values

mylist={1,2,3,4,5}
print(mylist)

#converting list to set
mylist=[1,2,3,4,5]
print(mylist)

t=set(mylist)
print(t)

{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5]
{1, 2, 3, 4, 5}

In [ ]:
#dictionary
#key-value pair
#dict doesn't allow duplicate value
mydict={'name':'sb','age':22,'country':'Bangladesh'}
print(mydict)
print(mydict['name'])
print(mydict['age'])
print(mydict['country'])
type(mydict)

operators
1.arithmetic operation
2.cmarsion operation
3.logical operation
4.assignmernt operations
5.identity operations
6.membership operaytions

In [ ]:
num1=45
num2=36
sum=num1+num2
sub=num1-num2
mul=num1*num2
div=num1/num2
mod=num1%num2
exponent=num1**num2
print(sum)
print(sub)
print(mul)
print(div)
print(mod)
print(exponent)




#assignment operator
'''/=
+=
-='''
#comparsion==,!=
#logical and,or,not

#membership operator: in,not in

a=9
b=4
c=[1,3,5,9,7]
print(a in c)
print(b in c)

81
9
1620
1.25
9
327831360408733226531187361612285036244429647922515869140625
True
False

if,else,elif

In [ ]:
a=1
b=2
c=3
if(a<b>c):
  print("b is greter")
elif(b<a>c):
  print("a is greter")

else:
  print(" c is greater")

 c is greater

loop

In [ ]:
for i in range(5):
  lp=int(input("enter the amount :"))
  print("sbby")

enter the amount :2
sbby
enter the amount :3
sbby
enter the amount :4
sbby
enter the amount :6
sbby
enter the amount :7
sbby

In [ ]:
b=[1,2,3,4,5]
for i in b:
  print(i)

  #while
i=0
while i<10:
  print(i)
  i+=1

1
2
3
4
5
0
1
2
3
4
5
6
7
8
9

find factorial by function

In [ ]:
num=int(input("enter a number: "))
fac=1
if num==0:
  print("the factorial of 0 is 1")
else:
  for i in range(1,num+1):
     fac=fac*i;
  print("the factorial of ",num,"is =",fac)

enter a number: 5
the factorial of  5 is = 120

function

In [ ]:
def fact(numb):
  fac=1
  if numb==0:
    return fac
  else:
   for i in range(1,numb+1):
     fac=fac*i;
   return fac

In [ ]:
print(fact(5))
print(fact(6))

120
720

initial placeholders in numpy arrays

NameError: name 'np' is not defined