list

In [ ]:
l=[1,8,4,9,5]
print(l)
print(len(l))
print(type(l))
print(l[-2])
print(l[3:5])
print(l[3:])
print(l[:5])

[1, 8, 4, 9, 5]
5
<class 'list'>
9
[9, 5]
[9, 5]
[1, 8, 4, 9, 5]

In [ ]:
fruits = ["apple", "banana", "cherry"]
if "apple" in fruits:
  print("Yes, 'apple' is in the fruits list")

for x in "banana":

  print(x,end=" ")

Yes, 'apple' is in the fruits list
b a n a n a

In [ ]:
a=["red","blue","tasty"]
b=[1,2,3,4]

for x in a:
  for y in b:

    print(x,y)

red 1
red 2
red 3
red 4
blue 1
blue 2
blue 3
blue 4
tasty 1
tasty 2
tasty 3
tasty 4

In [ ]:
for i in range(1,11):

  mul=5*i

  if(i==6):
    continue;
  print("5 X", i ,"=",mul )
  if(i==8):
    break;

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 7 = 35
5 X 8 = 40

In [ ]:
def multiplication(num):
  for i in range(1,11):

    mul=num*i;
    if(i==6):
     continue;
    print(num,"X", i ,"=",mul )
    if(i==8):
     break;
num=int(input("enter a number: "))
print("the time table is given below:")
multiplication(num)

enter a number: 134
the time table is given below:
134 X 1 = 134
134 X 2 = 268
134 X 3 = 402
134 X 4 = 536
134 X 5 = 670
134 X 7 = 938
134 X 8 = 1072

In [ ]:
name=input()
print(name)

sithi
sithi

In [ ]:
def oddoreven(num):
 if(num%2==0):
  result=0;
 else:
     result=1;
 return result;

num=int(input("enter a number: "))
if(oddoreven(num)==0):
  print("even")
else:
  print("odd")

In [ ]:
num=[1,2,3,4,5]
for x in num:
   if(x%2==0):
    print(x);

2
4

list 3rd lab

In [ ]:
a=[1,3,5,7,4]
#length, type

print(len(a))
print(type(a))
a[-3]=50
print(a)
print(a[2:4])
print(a[:-3])
a.append(100)
print(a)
a.insert(2,200)
print(a)
a.pop()
print(a)
a.remove(1)
print(a)
a.extend([2,4,6])
print(a)
b=a
print(b)
b.sort()
print(b)
for x in a:
  print(x, end=" ")

5
<class 'list'>
[1, 3, 50, 7, 4]
[50, 7]
[1, 3]
[1, 3, 50, 7, 4, 100]
[1, 3, 200, 50, 7, 4, 100]
[1, 3, 200, 50, 7, 4]
[3, 200, 50, 7, 4]
[3, 200, 50, 7, 4, 2, 4, 6]
[3, 200, 50, 7, 4, 2, 4, 6]
[2, 3, 4, 4, 6, 7, 50, 200]
2 3 4 4 6 7 50 200

task-2:sum of odd number

In [ ]:
a=[1,3,5,7,4]
sum=0
for x in a:
   if(x%2!=0):
    sum=sum+x;
print(sum);

16

In [ ]:
a=[1,3,5,7,4]
sum=0
for x in range(len(a)):
  print(a[x],end=" ")
  if(x%2!=0):
    sum=sum+a[x];
print(f"sum is{sum}");

1 3 5 7 4 10

In [ ]:
a=[1,3,5,7,4]
odd=0;
even=0;
for x in a:
   if(x%2!=0):
    odd=odd+1;
   else:
    even=even+1;
print("odd count= ",odd)
print("even count= ",even)

odd count=  4
even count=  1

tuple

In [ ]:
a=(1,3,5,7,4)
#length, type

print(len(a))
print(type(a))
alist=list(a)
alist[-3]=500
print(alist)
print(a[2:4])
print(a[:-3])
alist.append(100)
print(a)
alist.insert(2,200)
print(a)
alist.pop()
print(a)
alist.remove(1)
print(a)
alist.extend([2,4,6])
print(a)
b=alist
print(b)
b.sort()
print(b)
for x in a:
  print(x, end=" ")
alist=tuple(alist)
print(type(alist))